body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

header {
    background-color: white;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

ul, ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.67;
    letter-spacing: 0.32px;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    background-color: white;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.display-container {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.header-address {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    margin-left: 332px;
    align-items: center;
}

.address-list {
    display: flex;
    gap: 40px;
}

.fst-section-container {
    height: 600px;
    width: 1440px;
}

.list-heading {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-top: 32px;
    margin-bottom: 8px;
    text-align: center;
}

.content-list-heading {
    text-align: left;
}

.section-heading {
    color: #2E2F42;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    display: block;
}

.snd-section-h {
    padding-top: 52px;
}

.snd-section-ul {
    display: flex;
}

.snd-section-item {
    padding-top: 68px;
    padding-bottom: 120px;
    margin-left: auto;
}

.trd-section-h {
    padding-top: 120px;
}

.trd-section-item {
    border: 1px solid #E7E9FC;
}

.trd-section-item-two {
    padding-bottom: 120px;
    border: 1px solid #E7E9FC;
}

.p-list {
    line-height: 1.5;
    width: 264px;
}

.p-team {
    text-align: center;
    line-height: 1.5;
    padding-bottom: 32px;
}

.logo-web {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-studio {
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.nav-link {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.header-address:hover,
.header-address:focus {
    color: #404bbf;
}

.address-link {
    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.section-heading-first {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    margin-left: auto;
    padding-top: 188px;
}

.class-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: flex;
    padding: 16px 32px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
}

.class-button:hover,
.class-button:focus {
    background-color: #404BBF;
}

.section-second {
    background-color: white;
}

.team-list {
    display: flex;
    gap: 24px;
}

.li-section-third {
    background-color: #FFFFFF;
    margin-bottom: 120px;
}

.section-first {
    background-color: #2E2F42;
}

.section-third {
    background-color: #F4F4FD;
}

.trd-section-h {
    margin-bottom: 72px;
}

.heading-portfolio {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-top: 32px;
    margin-bottom: 8px;
}

.p-port {
    line-height: 1.5;
    padding-bottom: 32px;
}

.footer {
    background-color: #2e2f42;
    padding-top: 140px;
    padding-bottom: 100px;
}

.logo-studio-footer {
    color: #f4f4fd;
}

.p-footer {
    line-height: 1.5;
    color: #f4f4fd;
    width: 264px;
    margin-top: 17.5px;
}

.fth-sec-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}